.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: 1px solid #e6e6e6;
}

.navbar > h1 {
  font-size: 30px;
  color: #E50914;
}

.navbar-links > a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding: 0 15px;
  cursor: pointer;
}